#clock{
    padding: 40px;
    left:50%;
    top:50%;
    margin-top: 17.9%;
    margin-bottom: inherit;
}
.timezone{
    font-family: clockicons,sans-serif;
}
body {
    background-image : url('https://lh5.googleusercontent.com/proxy/tjJRG8ELyrHCJQ18ThdF1ybYJ9CP1q6jDyCAECruLxqefc2gvH9YYUjKItQyvmWClmOoC3XivqciC7PbY2-1NtWxLE7fNsJFqYflxTi2EyE=w3840-h2160-p-k-no-nd-mv');

    background-repeat : no-repeat;

    background-size : cover;
}
